<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/788d6fd3-241d-4ab3-86cd-96bc42df08af/resourcegroups/CYCUIM/providers/Microsoft.Web/sites/LINEBotBeta</ResourceId>
    <ResourceGroup>CYCUIM</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://linebotbeta.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>linebotbeta.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>linebotbeta</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$linebotbeta</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DbConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:linebot-roy.database.windows.net,1433;Initial Catalog=LineBotDatabase;Persist Security Info=False;User ID=Roy;Password=YukiDeng159357;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:linebot-roy.database.windows.net,1433;Initial Catalog=LineBotDatabase;Persist Security Info=False;User ID=Roy;Password=YukiDeng159357;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="LINEBot.Models.DatabaseContext, LINEBot" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DbConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:linebot-roy.database.windows.net,1433;Initial Catalog=LineBotDatabase;Persist Security Info=False;User ID=Roy;Password=YukiDeng159357;MultipleActiveResultSets=False;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>